<suite name="Noon">

	 <test name="Splash screen Test" allow-return-values="true">
		 <classes>
			 <class name="com.noon.iosapp.SplashScreenTest" />
		 </classes>
	 </test>

	 <test name="Localization page Test" allow-return-values="true">
		 <classes>
			 <class name="com.noon.iosapp.LocalizationTest" />
		 </classes>
	 </test>

	  <test name="Side Bar Menu link Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.SideBarLinksTest" />
		  </classes>
	  </test>

	  <test name="Search Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.SearchTest" />
		  </classes>
	  </test>

	 <test name="Product Details Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.ProductDetailsTest" />
		  </classes>
	  </test>

	 <test name="Register email through OTP code Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.RegisterWithEmailTest" />
		  </classes>
	  </test>

	  <test name="Login By Phone Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.LoginByPhoneTest" />
		  </classes>
	   </test>
	  <test name="Login By Email Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.LoginByEmailTest" />
		  </classes>
	  </test>

	 <test name="Add to cart Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.AddToCartTest" />
		  </classes>
	  </test>

	  <test name="Buy now Test" allow-return-values="true">
		  <classes>
			  <class name="com.noon.iosapp.BuyNowTest" />
		  </classes>
	  </test>

		<test name="Edit cart Test" allow-return-values="true">
		   <classes>
			   <class name="com.noon.iosapp.EditCartTest" />
		   </classes>
	   </test>

		<test name="Add new address from Address Book Test" allow-return-values="true">
			<classes>
				<class name="com.noon.iosapp.AddAddressBookTest" />
			</classes>
		</test>

		<test name="Add new address from checkout Test" allow-return-values="true">
			<classes>
				<class name="com.noon.iosapp.AddAddressCheckoutTest" />
			</classes>
		</test>

		<test name="Add credit card through Wallet Test" allow-return-values="true">
			<classes>
				<class name="com.noon.iosapp.AddCreditCardWalletTest" />
			</classes>
		</test>

		<test name="Add credit card through checkout Test" allow-return-values="true">
			<classes>
				<class name="com.noon.iosapp.AddCreditCardCheckoutTest" />
			</classes>
		</test>

		<test name="Checkout through COD Test" allow-return-values="true">
			<classes>
				<class name="com.noon.iosapp.PayWithCODTest" />
			</classes>
		</test>

		<test name="Pay with credit card  Test" allow-return-values="true">
			<classes>
				<class name="com.noon.iosapp.PayWithCreditCardTest" />
			</classes>
		</test>
</suite>

